<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Web Scraper Using MongoDB">
    <meta name="keywords" content="MongoDB">
    
    {{!-- Materialize CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!--Stylesheet  --}}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

     

    {{!-- Let browser know website is optimized for mobile --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Mongo Scraper</title>
</head>

<body>

        {{{body}}}


</body>

</html>