{{> nav/nav-block}}

<div id="index-banner" class="parallax-container">
    <div class="overlay">
    </div>
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h1 class="caption">Mongo DB Scraper</h1>
            <h5 class="caption header col s12">NEW YORK TIMES EDITION</h5>
            <br>
            <br>
        </div>
    </div>
    <div class="parallax">
        <img src="/assets/img/newspaper.jpg" alt="Unsplashed background img 1" style="max-width: 100%; height: auto;">
    </div>
</div>


<script>
    $(document).ready(function() {
        $('.parallax').parallax();
    });
</script>
