{{> nav/nav-block saved=true}}

<main>
    <div id="index-banner" class="parallax-container">
        <div class="overlay">
        </div>
        <div class="section no-pad-bot">
            <div class="container">
                <br>
                <br>
                <h1 class="caption">Saved Articles</h1>
                <h5 class="caption header col s12">MONGO DB SCRAPER</h5>
                <br>
                <br>
            </div>
        </div>
        <div class="parallax">
            <img src="/assets/img/newspaper.jpg" alt="Unsplashed background img 1" style="max-width: 100%; height: auto;">
        </div>
    </div>
    <div class="article-container">
        <div class="bootbox modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                        <div class="bootbox-body">
                            <div class="container-fluid text-center">
                                <h4>Notes For Article: 5dbf4a0b12e20b00159a656b</h4>
                                <hr>
                                <ul class="list-group note-container">
                                    <li class="list-group-item note">
                                        <button class="btn btn-danger note-delete">x</button>
                                    </li>
                                </ul>
                                <textarea placeholder="New Note" rows="4" cols="60"></textarea>
                                <button class="btn btn-success save">Save Note</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</main>



{{> footer/footer}}


{{!-- JQuery --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

{{!-- Materialize JS --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


{{!-- JS for Parallax --}}
<script>
    $(document).ready(function() {
        $('.parallax').parallax();
    });
</script>



{{!-- Local JS file --}}
<script src="/assets/js/saved.js"></script>

