<footer class="page-footer">
    <div class="container">
        <div class="row">
            <h5 class="grey-text text-lighten-4">New York Times Mongo Scraper</h5>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Frank Zachary
            <a class="grey-text text-lighten-4 right" href="https://github.com/fzachary/mongo-scraper">GitHub Repository</a>
        </div>
    </div>
</footer>