<nav>
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo left">Mongo Scraper</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn">Scrape Articles</a></li>
            <li><a class="waves-effect waves-light btn">Clear Articles</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
        </ul>
    </div>
</nav>